<ion-header>

  <ion-navbar>
    <ion-title>home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-segment class="SwipeTabs">
    <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
		[ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
			{{tab}}
		</ion-segment-button>
  </ion-segment>
  
  <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}"></div>

  <ion-slides #SwipedTabsSlider  (ionSlideDrag)="animateIndicator($event)"
  (ionSlideWillChange)="updateIndicatorPosition()"
  (ionSlideDidChange)="updateIndicatorPosition()"
  (pan)="updateIndicatorPosition()"
  [pager]="false">

    <ion-slide>
      <ion-list>
        <ion-item *ngFor="let new of (newEventList$ | async)?.slice().reverse()" navPush="EventPage" [navParams]="{new: new}">
            <ion-avatar item-start>
                <img src="https://firebasestorage.googleapis.com/v0/b/cavalry-fyp-18s1-1.appspot.com/o/images%2F{{ new.image }}.jpg?alt=media&amp;token=803a91d8-51c6-40b2-a997-0ce97914bc61">
              </ion-avatar>
          <h2>{{new.eventName}}</h2>
          <h4>{{new.eventDesc}}</h4>
        </ion-item>
      </ion-list>
    </ion-slide> 

    <ion-slide>
      <ion-list>
        <ion-item *ngFor="let new of newEventList$ | async">
          <h2>{{new.eventName}}</h2>
          <h4>{{new.eventDesc}}</h4>
        </ion-item>
      </ion-list>
    </ion-slide>
    
  </ion-slides>

  <ion-fab right bottom>
    <button ion-fab><ion-icon name="pin"></ion-icon></button>
      <ion-fab-list side = top>
        <button ion-fab (click)="toMap()"><ion-icon name="map"></ion-icon></button>
      </ion-fab-list>
  </ion-fab>

</ion-content>
